header{
    color: rgb(26, 25, 25);
    font-family: 'Times New Roman', Times, serif;
    background-color: #2feb99;
}
footer{
    background-color: #2feb99;
}
a{
    text-decoration: none;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
img{
    border-radius: 100%;
    width: 129px;
    height: 129px;
    box-shadow: 4px 4px 2px rgb(117, 117, 117) ;

}
li{
    display: inline;
    background-color: #444444;
    color:azure;
    height: 200px;
    
    border-radius: 5px;
}

div{
    display: inline-flex;
}